<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Name Game</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<br>
Welcome to Doug`s Name Game
<br>
<br>
<img alt="NameGame" src="/img/name.jpg" width="300" height="250" />
<br>
Type in first name of person you want to see
<form method="post" action="name_choice">
    <input type="text"  name="fname">
    <br>
    <input type="submit">
    <br>
    <br>
</center>
</body>
</form>
<script>
    window.onload=getOrderDate('date');
</script>